<!DOCTYPE html>
<html>
<head>
  <title>Weblab</title>
  <meta charset="utf-8">
    <title>Preseed Web Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Preseed Web Lab is an experiment to churn out products that are high impact by virtue of being simple.">
    <meta name="author" content="Preseed">
    <meta name="keyword" content="preseed, startup">
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link rel="stylesheet" href="../assets/stylesheets/normalize.css">
    <link href="../assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../assets/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/stylesheets/docs.css" rel="stylesheet">
    <link href="../assets/stylesheets/icons.css" rel="stylesheet">
    <link href="../assets/stylesheets/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="../assets/stylesheets/carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/main-style.css">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/Nfavicon.png">
     -->
 <style type="text/css">
    /*.centerDiv {
        width: 25%;
        height: 200px;
        margin: 0 auto;
        float: center;
    }*/
    
    #gc_button:hover {
        border-color: #5C5C5C;
    }
  /*.break ul:nth-child(2n+1) {  
    clear: left;
  }*/
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse collapse">

                        <ul class="nav" style="float:left;">
                            <a class="brand" href="http://preseed.in">
                            <%= image_tag "Nnavbarlogo.png" %>
                            </a>
                        </ul>
                        <ul class="nav" style="float:right;">

                            <li class=""><a href="http://preseed.in">Home</a>
                            </li>
                            <li class="active"><a href="http://weblab.preseed.in">Web Lab</a>
                            </li>
                            <li class=""><a href="http://anythinglab.preseed.in">Anything Lab</a>
                            </li>
                            <li class=""><a href="http://patron.preseed.in">Patron</a>
                            </li>
                            <!--<li class=""><a href="http://ecell.preseed.in">E-Cell</a></li>-->
                            <li class=""><a href="http://preseed.in/media">Media Network</a>
                            </li>
                            <li>
                                <a tittle="Medium" href="https://medium.com/@Nishchal/collections" class="hov" target="_blank" style="font-size:16px;"></a>
                            </li>
                            <li>
                                <a tittle="Tumblr" href="http://blog.preseed.in" target="_blank" data-icon="&#xe004;" style="font-size:16px;"></a>
                            </li>
                            <li>
                                <a title="Facebook" href="http://www.facebook.com/thepreseed" target="_blank" data-icon="&#xe002;" style="font-size:16px;margin-left:-3px;"></a>
                            </li>
                            <li>
                                <a title="Twitter" href="http://twitter.com/thepreseed" target="_blank" data-icon="&#xe003;" style="font-size:16px;"></a>
                            </li>
                            <% if user_signed_in? %>
                              <li><%= link_to 'Submit New App', new_app_path %></li>
                              <li><%= link_to 'Account', edit_user_registration_path %></li>
                              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>

                            <% else %>
                                <li><%= link_to 'Sign up', new_user_registration_path %></li>
                                <li><%= link_to 'Sign in', new_user_session_path %></li>

                            <% end %>
                        </ul>

              
                </div>
            </div>
        </div>
<% flash.each do |name, msg| %>
<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>



<%= yield %>

</body>
</html>
